<table border= "1px">
	<tr>
	<% @movies.each do |movie|%>
	
		<td><a href=<%= movie.id %>><img src="<%= movie.poster %>" style="width:100px; height:150px;"/></a></td>
	
	<% end %>
	</tr>
	<tr>
	<% @movies.each do |movie|%>
	
		<td><a href=<%= movie.id%>><p style="text-align:center;"><%= movie.name %></p></a></td>
	
	<% end %>
	</tr>

</table>
